#die {
  height: 100px;
  width: 100px;
  background-color: lightgray; /* Feel free to customize */
  position: relative;
  border-radius: 25px;
}
#die2 {
  height: 100px;
  width: 100px;
  background-color: rgb(1, 244, 208); /* Feel free to customize */
  position: relative;
  border-radius: 25px;
}
